__pycache__/
*.pyc
env/
venv/
*.log
*.pot
*.mo
*.po
*.sqlite3
*.pyo
*.pyd
.pytest_cache/
__pycache__/
dist/
build/
*.egg-info/

__pycache__/
*.pyc
env/
venv/
*.log
*.pot
*.mo
*.po
*.sqlite3
*.pyo
*.pyd
.pytest_cache/
__pycache__/
dist/
build/
*.egg-info/
*.DS_Store
*dump.sql

